* {
  margin: 0;
}

html{
  background-color: #282c34;
}

.app {
  text-align: center;
}

.app__logo {
  height: 35vmin;
}

.app__nav {
  display: flex;
  justify-content: end;
  height: 5vmin;
}
.product__pannel {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; 
  margin-bottom: 200px;
}

